.qualifier-table .group-name {
    font-size:18px;
    font-weight:bold;
}
.qualifier-table tbody tr.first {
    background-color: #80ffaa
}
.qualifier-table tbody tr.second {
    background-color: #ccffdd
}