.prediction-button > span{
    font-size: 14px;
    font-weight:bold;
}
.prediction-button {
    position: relative;
}
.prediction-button .btn.predicted {
    font-weight: bold
}
.prediction-stat .progress {
    margin-bottom:0px;
}
.prediction-stat {
    font-size:11px !important;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.popover {
    max-width: 100%
}